@font-face {
    font-family: 'Antarctica';
    src: url("/assets/css/fonts/Antarctica Trial VAR/Antarctica Trial VAR OTF/Antarctica Trial VAR-VF.otf");
}


.oswald-schrift {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    
}
