body {background-color: oldlace};

/* ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
} */


input[type="checkbox"]#{{ post.data.id }}:checked ~ .eintrag-{{ post.data.class }} {
    width: 500dvw; 
} 
  
input[type="checkbox"]#{{ post.data.id }}:checked ~ .eintrag-{{ post.data.class }} .box-content-{{ post.data.class }} {
    opacity: 1; 
}