body {
    background-color: oldlace;
}

.time-box{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.alles {
    width: 50vw;
    height: 50vh;
    display: flex;
} 

details {
    display: flex;
}

details > summary {
    /* padding: 4px; */
    width: 10px;
    height: 100px;
    /* background-color: #eeeeee;
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb; */
    cursor: pointer; 
}

details > div {
    height: 500px;
    padding: 4px;
    margin: 0;
    box-shadow: 1px 1px 2px #bbbbbb;
}

summary::marker {
    font-size: 2em;
}

summary {
    z-index:1;
    list-style-position: outside;
    margin-left: 30px;
    padding: 10px 10px 10px 20px;
    border-radius: 5px;
    border: solid green;
    list-style-type: '+ ';
    position: relative;
    top: calc(1em + 100px);
}

details[open] > summary {
    list-style-type: '- ';
    
}

.eintrag{
    position: relative;
    top: calc(-1.2em + 4px);
}

.nein-gestresst, .Nein-gestresst{
    background-color: orangered;
}

.ja-gestresst{
    background-color: orange;
}

.neutral-gestresst{
    background-color: blueviolet;
}

/* .zeit {
    color: black;
} */


/* input[type="checkbox"]#toggle-box:checked + .box {
    width: 500px; 
}

input[type="checkbox"]#toggle-box:checked + .box .box-content {
    opacity: 1; 
} */


/* input[type="checkbox"] #{{ post.data.id }}:checked ~ .eintrag-{{ post.data.class }}{
    width: 500vw; 
} 
  
input[type="checkbox"] #{{ post.data.id }}:checked ~ .eintrag-{{ post.data.class }} .box-content-{{ post.data.class }}{
    opacity: 1; 
}   */


/* ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
} */