body {
    background-color: oldlace;
}

.Gesamtinhalt{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.Zeitstrahl{
    width: 100vw;
    height: 100vh;
    display: flex;
} 

.Schleifeninhalt{
    display: grid;
    grid-template-rows: repeat (4, 25vh);
}

    details{
        border: 1px solid grey;
        grid-row: 3 / 4;
    }

        summary {
            width: 100px;
            height: 100px;
            cursor: pointer; 
            /* list-style-type: '+ '; */
            list-style-type: none;
        }
            summary::marker {
            font-size: 2em;
        } 

        .eintrag{
            height: 30vh;
           
        } 


    .Aktivitaet{
        height: 200px;
        visibility: hidden;
        grid-row: 1 / 2 ;
    }

    .Beschreibung_Aktivitaet{
        visibility: hidden;
        grid-row: 2 / 3 ;
        height: 100px;
    }


/* details open ///////////////// */
details[open] > summary{
    /* list-style-type: '- ';  */
    list-style-type: none;
}

/* details[open]{
} */


/* gestresst Merkmale //////////// */
.nein-gestresst, .Nein-gestresst{
    border: solid orangered;
}

.ja-gestresst{
    border: solid orange;
}

.neutral-gestresst{
    border: solid blueviolet;
}


/* hover ///////////// */

details:hover ~ .Aktivitaet{
    visibility: visible;
}

details[open]:hover ~ .Beschreibung_Aktivitaet{
    visibility: visible;
} 

